<select id="{{ label_for }}" data-custom="{{ field_custom_data }}" name="{{ field_status_name }}" style="width: 22rem;">
    <option value="on" {{ field_custom_data_selected_on }}>
    ON
    </option>
    <option value="off" {{ field_custom_data_selected_off }}>
    OFF
    </option>
</select>
