<div class="wrap">
    <h1>{{ admin_page_title }}</h1>

    <p style="color:#ce5d2c">
        {{ error_msg }}
    </p>

    <form name="form_options_list" action="options.php" method="post">
        <table style="padding-top:0;margin-top:0">
            <tr>
                <td>{{ settings_fields }}</td>
            </tr>
            <tr>
                <td>{{ do_settings_sections }}</td>
            </tr>
            <tr>
                <td>
                    {{ submit_button }}
                </td>
            </tr>
        </table>
    </form>
    <form name="form_sync_action" action="" method="post">
        <table class="form-table">
            <tr style="border-top:1px solid black;">
                <td style="border-bottom:1px solid black;">
                    <input type="submit" class="button-large" value="Sync to Backblaze now!" name="process_sync_btn" style="background: #e36a36;border-color: black;color: #fff;text-decoration: none;text-shadow: #0a0a0a;font-size: 14px;padding: 5px 10px;cursor: pointer;border-width: 1px;border-radius: 3px;" />
                </td>
            </tr>
        </table>
    </form>
</div>
